/*ajustaments dalt200 ie6. es un problema amb els espais i la tipo que te lie*/
#content #dalt200, #content #baix200 {_background-repeat:no-repeat;_line-height:0px;color:#fff;}

#content { line-height: 1.5em;}
ul{
	margin:0;padding:0;}
ul li, ol li{ list-style-position:outside; margin-bottom: 0.5em;}
/*comentat a ul li{list-style: none;}*/
ol li {list-style: decimal;}
form{ margin: 0; }
.fletxa{ border: 0; margin: 0.25em 0px 0px 0px; padding: 0.1em 0 0.05em 0; }
.align_left{ 
	float:left;
	padding:5px 20px 10px 0;
	background:#FFF;
	position:relative;}
.align_right{ float:right;padding:5px 0 10px 20px;background:#FFF;position:relative; }
.imgEsquerra{
	float: left;
	margin: 5px 10px 10px 1px;
	padding: 3px;
	border:1px solid #ccc}
.imgDreta{ 
	float: right;
	margin: 5px 1px 10px 10px;
	padding: 3px;
	border:1px solid #ccc}
/*TITULARS*/
.titular1, .titular2, .titular3 {
	font-family:Arial, Helvetica, sans-serif;
	color: #c00; 
	font-weight: bold}
#collage {line-height:1.5em;}
.titular1, #content h4, #collage h4{
	margin: 1em 0 0.5em -1px;
	padding:0.35em 0.2em 0.2em 0;
	background: url(../img/custom/fletxaD.gif) no-repeat 0 7px;
	*background: url(../img/custom/fletxaD.gif) no-repeat 0 9px;
	border-top: 2px dotted #DFE3D3; 
	font-size:1.3em}
.titular2, #content h5, #collage h5{
	margin-bottom: 0.5em;
	margin-top: 0.75em;
	font-size:1.25em}
.titular3, #content h6, #collage h6{
	margin-bottom: 0.5em;
	margin-top: 1em;
	font-size:1.1em}
/*COLUMNES*/
.columnes{ margin: 0 0 0 -1.7em; border-collapse: collapse; line-height:1.5em}
.columnes td{ padding: 0 1em 0 1.7em; vertical-align: top; width:50%}
/*LlistatIndex, Llistat I i Llistat Enllacos GW3 */
.llistatIndex ul, .llistatEnllacos ul{
	margin: 15px 0 15px 0;
	padding: 10px 0 5px 1px;
	background-color: #F7F7F7;
	background:url(fonsTG.gif) repeat-x bottom #F7F7F7;
	border: 1px solid #E6E6E6;	
	border-top: 2px solid #CCC}
.llistatIndex li{
	padding: 0 0 8px 0;
	margin: 0 0 0 23px;
	list-style: url(fletxa.gif) outside;}
.llistatEnllacos ul{
	margin: -5px 0 15px 0}

.documentContent .llistatEnllacos li, .llistatEnllacos li{
	padding: 0 0 10px 0;
	list-style: url(fletxa.gif) inside;
	margin: 0 0 0 10px}
.documentContent .llistatDestacat ul{
	background:transparent url(fonsT.png) repeat-x scroll center bottom;
	border:1px solid #ccc;
	border-bottom:2px solid #ccc;
	margin:0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	padding: 0 0 0 1em;
}
.documentContent .llistatDestacat li{
	background:transparent url(fletxaLD.gif) no-repeat scroll left center;
	line-height:2em;
	list-style-image:none !important;
	list-style-type:none !important;
	margin:0;
	padding:0.5em 0 0.5em 1.5em;
}
.llistat { padding: 0 0 15px 0}
.llistat ul{ margin: 0 0 0 12px; *margin: 0 0 0 16px}
.llistat li{
	padding: 0 0 6px 0;
	list-style: url(quadretGris.gif) outside;
	border-bottom: 1px dotted #CCC}
/*Enllacos relacionats*/
#eRelacionats{
	float: right;
	width: 25%;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 0 0 4px 15px;
	background:#FFF}
#eRelacionats .titular2{ margin-top: 0}
#eRelacionats .llistat ul{ margin: 0px; margin-bottom:-20px;}
#eRelacionats .llistat li{ list-style-image:none; list-style: none;}
#eRelacionats_border{border-left: 4px solid #FF6600; padding-left:10px;}
/*Calendari*/
.calendari table td{
	background-color: #f1efee;
	padding: 4px;
	text-align:center;
	width: 25px;}
.calendari td:first-child{
	border-left: 0px dotted #ccc;}
.calendari table{
	*border:1px solid #ccc;
	border-bottom:3px solid #ccc;
	outline:1px solid #ccc;
	*outline:0px;
	border-collapse:collapse;}
html*.calendari table{ 
	border:1px solid #ccc;
	border-bottom:3px solid #ccc;/*saf*/}
.calendari td{
	border-left: 2px solid #fff;
	border-top:0px;
	border-bottom:2px solid #fff;
	padding-top:6px;
	background-color: #fff;
	color: #666; 
	font-weight: normal}
.calendari .fonsDestacat1{
	background-color: #beb4ab;
	color: #6b5c4f; 
	font-weight: bold}
.calendari .fonsDestacat2{
	color: #6b5c4f;  
	background-color: #cbb380;
	font-weight: bold}
/*formatar a l'FCK amb taula sense format*/
.fonsDestacat2 {	
	color: #6b5c4f;  
	background-color: #cbb380;
	font-weight: bold}
.fonsDestacat1 {
	background-color: #beb4ab;
	color: #6b5c4f; 
	font-weight: bold}

.notesCalendari{ 
	border-left: 4px solid #F60;
	padding-left: 10px; 
	padding-bottom: 1px;
	margin-top: 10px;
	margin-left:2px}
.TDRegulaCalendari{
	padding-bottom:10px
	max-width:150px;}
/*taulaRegistres*/
.taulaRegistres .cap td{
	background:url(borderTopDiagonal.gif) repeat-x;
	border-left: 2px dotted #ccc;
	border-top:0;
	border-bottom:2px dotted #ccc;
	*border-bottom:0;
	padding-top:6px;
	background-color: #fff;
	color: #6b5c4f; 
	font-weight: bold;}
.taulaRegistres .cap td:first-child{
	border-left: 0px dotted #ccc;}
.taulaRegistres td {
	background-color: #f1efee;
	border-left:2px solid #fff;
	border-bottom:2px solid #fff;
	*border:2px solid #fff;	
	padding: 4px;
	text-align:center;}
.taulaRegistres td:first-child{
	border-left: 0px dotted #ccc;}
.taulaRegistres table{
	*border: 1px solid #ccc;
	border-bottom:3px solid #ccc;
	outline:1px solid #ccc;
	*outline:0px;
	border-collapse:collapse;}
html*.taulaRegistres table{ 
	border:1px solid #ccc;
	border-bottom:3px solid #ccc;/*saf*/}
.taulaRegistres .fonsDestacat1{
	background-color: #beb4ab;
	color: #6b5c4f; 
	font-weight: bold;}
.taulaRegistres .fonsDestacat2{
	color: #6b5c4f; 
	background-color: #cbb380;
	font-weight: bold;}
/*fitxa i separadors*/
.fitxa{
	border: 1px solid #ccc;
	border-bottom: 4px solid #ccc;
	margin: 0px; padding:10px; margin-top:-36px;
	background: url(borderTopDiagonal.gif) repeat-x top;}
.fletxa_fitxa{ background: url(puntets.jpg) no-repeat right 7px; height: 35px; margin: 30px 10px 0 0;}
.fitxa h2 {margin:-0.2em 0 1em 0; padding-bottom:0.3em; border-top:0 !important; border-bottom:5px solid #e6e6e6;}
.fitxa h3 {margin:-0.2em 0 1em 0;}
.fitxa h4{ display:block;margin: -0.2em 0 1.2em 0 !important; padding:0.2em 0 0.5em 0; border:0px; border-bottom: 2px dotted #a29386; background:none;border-top:0 !important;}
.fitxa h5{ margin-bottom: 1em;}
.fitxa img{background:#FFF; padding: 0 20px 10px 0; margin: 0;}
.fitxa .align_right img{background:#FFF; padding: 3px; border:1px solid #999; margin: 0;}
.fitxa .align_left img{background:#FFF; padding: 3px; border:1px solid #999; margin: 0;}
.fitxa .separadorH{ margin-top:0; border-bottom: 2px dotted #a29386;}
.separadorV{ border-left: 1px dashed #e6e6e6;}
/*formulari*/
.formulari input[type="checkbox"], input[type="radio"] {
	border: 0px;
	margin: 10px 0px 10px 0px;
	vertical-align:middle;
	background:#FFFFFF;}
.formulari .radio {
	border: 0px;
	margin: 10px 0px 10px 0px;
	vertical-align:middle;
	background:#FFFFFF;}
.formulari select{
	background: url(degradat.jpg) repeat-x;
	margin: 10px 0px 10px 0px;
	border: #a29386 1px solid;
	border-left:#a29386 5px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.95em;	
	padding-left: 2px;}
.formulari select > option{
	border-bottom: 1px dotted #a29386;
	background:white;
	padding-left:7px;}
.formulari .botoblau1{
	background: url(botoblau1.gif) no-repeat center right;
	padding: 2px 21px 2px 0px;
	color:#0076cc;
	border: 0px;
	text-align: center;
	height: 22px;
	width: 100px;}
.formulari .botoblau2{
	background: url(botoblau2.gif) no-repeat center right;
	padding: 2px 21px 2px 0px;
	color:#ffffff;
	border: 0px;
	text-align: center;
	height: 22px;
	width: 100px;}
/*errors i missatges gw3*/
.avis{
	background: url(avis.gif) no-repeat top left;
	padding-top: 7em;}
.error{
	background: url(error.gif) no-repeat top left;
	padding-top: 7em;}
.avis_legal{
	padding: 1em 0 0 0;}
.nota{
	font-size: 0.9em;
	margin-bottom: 10px;}
.textDestacat{
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 1em 0em 1em 0em;
	padding:5px 10px 8px 10px;
	background:#f8f7f5;}

.taula img{ /*en principi no cal */
	margin:0px;
	float:none;}
.imgBoto{
	vertical-align:top;
	margin:0px;
	float:none;}
/*destacats genweb 1.5*/
.destacatBandejat {
	background: #f8f7f5;
	border-top: 1px solid #960;
	border-bottom: 12px solid #960;
	padding: 5px 10px 7px 10px;
	margin: 20px;
	font-size: 1.6em;
	line-height: 1.2em;
	font-family:Arial, Helvetica, sans-serif;}
.destacatQuadres {
	background-image:url(fonsDestacat.gif);
	background-color:#beb4ab;
	margin: 20px;
	padding: 4px;}
.destacatQuadresDins {
	background-color:#FFF;
	margin: 8px;
	padding: 2px 4px;
	font-size: 0.95em;}
/*solucions IE*/
.taulaRegistres .cap td{
background:url(borderTopDiagonal.gif) repeat-x;
	*border: 2px dotted #ccc;
	*border-top:0px;
	*padding-top:6px;
	*background-color: #fff;
	*color: #6b5c4f; 
	*font-weight: bold;}
.taulaRegistres td {
	*background-color: #f1efee;
	*border:2px solid #fff;
	*padding: 4px;
	*text-align:center;}
.taulaRegistres table{
	*border: 1px solid #ccc;	
	*border-bottom:3px solid #ccc;	
	*border-collapse:collapse;}
.calendari table{
	*border: 1px solid #ccc;	
	*border-bottom:3px solid #ccc;	
	*border-collapse:collapse;}
/*ajusta FCKeditor en edit*/
body#content {font-size:70%}
body#content a {color:#007dcc; text-decoration:none;}
/*imatge text damunt*/
.emmarcada{
    text-align:center;
    margin: 10px 0;}
.emmarcada img{
    border: 1px solid #999;
    padding: 3px;}
/*FCKT*/
#FCKTtableimatgetext
	{margin: 0 auto -45px auto; }
#FCKTdivimatgetext
	{margin: 0px 5px 5px; 
	padding: 5px; 
	position: relative; 
	top: -45px; 
	height: 30px; 
	font-size: 14px; 
	font-weight: bold; 
	font-family: Arial,Helvetica,verdana,sans-serif; 
	color: rgb(102, 102, 102); 
	background-color: white; 
	opacity: 0.9; 
	filter:alpha(opacity=90);}
#FCKTdiv1imatgedamunttext {
	margin: 0 auto; 
	position: relative;}
#FCKTdiv2imatgedamunttext {
	margin: 0 auto; 
	padding: 0; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	height: 100%; 
	left: 0; 
	width: 200px; 
	font-size: 12px; 
	font-family: Arial,Helvetica,Verdana,sans-serif; 
	color: #333; 
	background-color: white; 
	opacity: 0.8; 
	filter:alpha(opacity=80);}
#FCKTdiv3imatgedamunttext{
	padding:10px}
.estilImgPhotoAlbum1 {width:128px; height:96px;}
.estilImgPhotoAlbum2 {width:96px; height:128px;}
.estilImgPhotoAlbum3 {width:128px; height:83px;}
/*enllacos dreta*/
table.enllacosDreta {width:100%;}
table.enllacosDreta td {vertical-align:top;}
.columnaEnllacosDreta {width:200px;}
.columnaEnllacosDreta h2 {border-top:0px;margin:0px;background:transparent url(fletxaGo.gif) no-repeat scroll 0px -4px;padding:5px 0 5px 20px;}
.columnaEnllacosDreta li {
	list-style-image:url(quadret.gif);
	list-style-position:outside;
	list-style-type:disc;
	margin:0 0 0 35px;
	padding:5px 5px 5px 0px !important;
	line-height:1.5em;
	border:0px !important;}
.columnaEnllacosDreta ul {padding-bottom:5px;}
.columnaEnllacosDreta img {margin:0 25px 10px 25px;border:1px solid #e6e6e6;}
.columnaEnllacosDreta a img:hover {margin:0px 25px 10px 25px;border:1px solid #007dCC;}
.columnaseparador20 {width:20px !important;}
/*cancella classes kupu als floats imatges*/
.image-left {
   float: left;
   clear: both;
   margin: 0.5em 1em 0.5em 0;
   padding:10px;
   border: 0px solid #e6e6e6;
}
.image-right {
border:0 solid #E6E6E6;
clear:both;
float:right;
margin:0.5em;
padding:10px;
}
/*contenidor*/
.gb {background:transparent url(fonsT.png) repeat-x scroll center bottom;border:1px solid #E6E6E6;margin-bottom:1em;margin-top:0;padding:0.5em 0.75em;}
/*columnats deco*/
div.fila {display:block;float:left;position:relative;width:100%;margin-bottom:1em;}
div.cella {position: relative; float: left; left: 100%;}
div.p0  { margin-left: -100%}
div.w1\3a 2, div.w2\3a 4 { width:    47.91667% } /* 1:2 / 2:4 */
div.w1\3a 4 { width:    22.91667% } /* 1:4 */
div.w3\3a 4 { width:    72.91667% } /* 3:4 */
div.p1\3a 4 {margin-left:    -75% } /* 1:4 */
div.p1\3a 2, div.p2\3a 4 {margin-left:    -50% } /* 1:2 / 2:4 */
div.p3\3a 4 {margin-left:    -25% } /* 3:4 */
div.w1\3a 3 { width: 31.25%; } /* 1:3 */
div.w2\3a 3 { width: 64.5%; } /* 2:3 */
div.p1\3a 3 {margin-left: -66.7%;} /* 1:3 */
div.p2\3a 3 {margin-left: -33.4%;} /* 2:3 */
div.w1 { width: 97.916% }