/* CSS UPC GENWEB 3.0a */

/********************************************************************** PORTLETS ********************************************************************************/
.portlet200{
background:url(bar200.gif) no-repeat top; /*imatge customitzada*/
width:200px;
height: 8px;
font-size:0.05em;
}
/*conservo uns ids per si algu feia servir la plantilla antiga*/
.baix200, #baix200{
width:200px;
height:6px;
background-image:url(baix200.gif);
font-size:0.05em;
margin-bottom:20px;
}
.dalt200, #dalt200{
width:200px;
height:6px;
background-image:url(dalt200.gif);
font-size:0.05px;
margin-bottom:0px;
}

.portlet150{
width:150px;
height:9px;
background-image:url(bar150.gif); /*imatge customitzada*/
font-size:0.05em;
}

.baix150{
width:150px;
height:6px;
background-image:url(baix150.gif);
font-size:0.05em;
margin-bottom:20px;
}

.caixaPortlet,#caixaPortlet{
border-left: 1px solid #E6E6E6;
border-right: 1px solid #E6E6E6;
}

.caixaPortlet ul{
padding: 0px;
list-style:none;
}

.caixaPortlet li{
    border-top: 1px dashed #999999;
    line-height: 1.2em;
    padding: 5px;
    margin-bottom: 0px;
}

.caixaPortlet li:first-child{
border-top: 0px;
}

.caixaPortlet form{
border-bottom:1px dashed #999999;
margin-bottom:10px;
padding: 0px 5px;
}

h6.titolPortlet, .titolPortlet{
background-color:#E8E2DF; /*especific6*/
color:#4D4D4D !important;
font-weight:bold;
padding: 1px 5px !important;
font-family: Verdana, sans-serif;
font-size:100% !important;
margin: 0 !important;
}

.separadorPortlet{
border-top: 1px solid #999999;
margin-top: 5px;
}

.portletPlus{
padding: 0px 5px 5px;
text-align:right;
line-height: 0px;
margin-top:0px;
}

.portletPlus img{
margin-right: 0px;
margin-bottom: 0px;
}
.portletPlus.miniEsde {font-size:80%;padding: 0 5px 0 0 !important;}

.flotaPlus{
float:left;
margin: -11px 0px 0px 5px;
font-size:0.9em;
line-height:1em;
}

/*********************************************************************** AGENDA **********************************************/
.noticiesDalt{
border-top: 1px solid #808080;
background: url(triangle.gif) no-repeat; /*imatge customitzada*/
background-position: 0px 3px;
padding: 9px 0px 4px 14px;
color:#4D4D4D;
font-weight:bold;
text-align:left;
font-size:1.1em;
}

.agendaDalt{
border-top: 1px solid #808080;
background: url(triangle.gif) no-repeat; /*imatge customitzada*/
background-position: 0px 3px;
padding: 9px 11px 13px 14px;
font-size:1.1em;
font-size:1.1em;
color:#4D4D4D;
font-weight:bold;
/*
	_position:static;
	_border-top:1px solid #808080;
	_width:auto;
*/
}

.agendaData{
float:none;
margin: -36px 0px 1px 3px;
/*
	_padding-top:0px;
	_margin: -36px 0px 1px 3px;
*/}

.agendaDataReposicio{

border-top:1px solid #999999;
margin: 5px 0px 0px 0px;
padding: 5px 25px 0px 0px;
}/*pelvertical*/

.agendaNumero{
float:right !important;
background-color:#0077cc !important;
padding:2px 1px 1px !important;
color:#FFFFFF !important;
text-align:center !important;
min-width: 24px !important;
font-family: "Arial Narrow", "Helvetica Narrow", "Mikti Narrow", Arial, Helvetica, sans-serif !important;
font-size:26px !important;
position: relative !important;
_width:24px !important;
}
html>body*.agendaContingut table {
	width:100%;}
.agendaMes{
float:none;
padding-top:3px;
margin-right:28px;
text-align:right;
color:#4D4D4D;
font-weight:bold;
}

.agendaDia{
font-family: "Arial Narrow", "Helvetica Narrow", Arial, Helvetica, sans-serif;
font-weight:normal;
padding:0px;
font-size:1.25em;
line-height:6px;
}

.agendaContingut{
margin-top:0px;
margin-bottom:0px;
border: 1px solid #E6E6E6;
background:url(fonsT.png) repeat-x bottom;
position:relative;
}


.agendaContingut ul{
list-style:none;
list-style-image:none;
padding: 5px 5px 5px 5px;
text-align:left;
}

.ajendaAjsutament{/*es crea per l'UL*/
}

.agendaAjustament ul{
min-height: 208px;
height:auto !important;
height:208px;
padding: 5px;
}
.taulaDivs{
border-collapse: collapse;
margin:0px;
padding:0px;
vertical-align:top;
margin-top:20px;
width:100%;
}
.taulaDivsTdE{
padding-right:5px;
width:50%;
}
.taulaDivsTdD{
padding-left:0px;
}

.agendaContingut li{
padding: 5px 5px;
line-height: 1.2em;
}

.agendaContingut #portletPlus{
text-align:left;
margin: 0px 0px 5px 5px;
}
.agendaContingut tbody{
margin-bottom:10px;
;
}
.agendaVerticalContingut{
	margin-top:5px;
}
.agendaVerticalData{
	margin:-33px 0 1px 3px;
}
/*********************************************************************** CALENDARI **********************************************/
#calendari {
float:right;
margin-right: 5px;
line-height:1.2em;
font-size:0.9em;
_margin-right:5px;
}

#calendariVertical {
	line-height:1.2em;
	font-size:0.9em;
	padding-top:3px;
	padding-left:25px;
	padding-right:25px;
	*padding-left:20px;
	*padding-right:20px;
	background:url(fonsCR.png) repeat-x 0px -34px;
}
html*#calendariVertical {
	margin-right: 0px;
	_margin-right:0px;
	_padding-right:17px; }

#calendari table, #calendariVertical table, .small{
font-size:0.9em;
}

#calendari th, #calendariVertical th{
border-bottom: 1px dashed #999999;
color:#CC0000; /*especific3*/
}

#calendari table,#calendari tr,#calendari th,#calendari td,#calendari tbody,#calendari tfoot, #calendariVertical table,#calendariVertical tr,#calendariVertical th,#calendariVertical td,#calendariVertical tbody,#calendariVertical tfoot {
border-collapse:collapse;
text-align:right;}


table, tr, th, td, tbody, tfoot {
border-collapse:collapse;
padding:3px;
text-align:left;   
/*margin: inherit;*/
}
.TDRegulaCalendari{
	padding-bottom:12px;
	vertical-align:bottom;
}


#calendari table, #calendariVertical table{
border-left: 1px solid #E8E2DF; /*especific6*/
border-right: 1px solid #E8E2DF; /*especific6*/
border-bottom: 1px solid #E8E2DF; /*especific6*/
background-color:#FFFFFF;
*width:158px;
border-collapse: separate;
border-spacing:1px;
padding:0px;
}

#calendari b, #calendariVertical b{
color:#4D4D4D;
font-size:1.1em;
}

.calendariArrodonit{
margin: 5px 0px 0px 0px;
background-color: #E8E2DF; /*especific6*/
font-size:0.05em;
max-width:150px;
padding:0px;
}
.arrodonimentTD, .arrodonimentTR{
padding:0px;
font-size:0px;
line-height:0px;
}
.imgCA{
width:100%;
}
.calendariArrodonit img{
}
.sobreCalendari{
max-width:155px;
width:150px;
*width:157px;
}
html*.sobreCalendari { width:139px; }

#daltCalendari{
background-color:#E8E2DF; /*especific6*/
height:5px;
}
#calendar-previous{float:left;}
#calendar-next{float:right;}
.calendariMes{
    text-align:center !important;
    padding-top:2px;
}

.avui, .todaynoevent{
border: 1px solid #CC0000; /*especific3*/
}
.todayevent {
border: 1px solid #CC0000; /*especific3*/
background-color: #E0CECE; /*especific5*/
letter-spacing:0.1em;
}
.reunio{
background:#DFE3D3; /*especific4*/
}

.esdeveniment,
.event{
background:#E0CECE; /*especific5*/
letter-spacing:0.1em;
}

.ajustament #portletPlus{
text-align:right !important;
}

.reajustament img{
width: 147px !important;
}

.reajustament{
font-size:0.05em;
width: 145px !important;
}

.arrodonimentTR{
background-color:#FFFFFF; 
height: 4px;
}

.arrodonimentTD{
background-color:#E8E2DF; 
padding: 0px; 
font-size:0.05em;
}

#calendar_text {
    text-align: left;
}

#esdeveni_text {
     text-align: left;
}

.divCarpetaTitol{
font-size:1.25em;
font-weight:bold;
color:#CC0000; /*especific3*/
margin:0px 0px 5px -5px;
padding-left: 15px;
background:url(fletxaD.gif) no-repeat left;
font-family:Arial, Helvetica, sans-serif;
}

.portletItem {
	margin-left: 0px;
}

.documentContent ul{
    margin: 0px;
}

.documentContent {
    font-size:100%;
    padding:30px 0px 10px 0px !important;
}

.documentContent li a {
    border-bottom: 0px;
}

.documentContent li a:hover {
    text-decoration:underline;
}
.documentContent li a:visited {/*public.css (line 92)*/
	color:#0077cc;
}


#portal-column-one .visualPadding {
padding:0em;
}
#portlet-prefs .portletHeader {
background:none;
text-align:right;
font-size:90%;
padding: 0pt;
margin: 0pt;
visibility:hidden;
}
ul.configlets, ul#portal-sitemap {/*authoring.css (line 199)*/
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:1em 0pt;
font-weight:normal;
margin-left: 0px !important;
}
ul.configlets li, ul#portal-sitemap li{
font-family: Verdana, Arial, Helvetica, sans-serif;
background:transparent url(fletxaGo.gif) no-repeat scroll left top;
border-bottom:1px dashed #333333;
line-height:2em;
list-style-type:none;
margin:0px;
padding:5px 0px 5px 20px;
list-style-image:none !important;
list-style-position:outside;
list-style-type:none !important;
margin-bottom:0.5em;
}
ul.configlets li:first-child, ul#portal-sitemap li:first-child{
border-top:1px dashed #333333;
}
ul.configlets li a img, ul#portal-sitemap li a img {
float:right; margin-top:2px;
}

.portletItem {/*portlets.css (line 363)*/
margin-left:0px;
border-top:5px solid #E6E6E6;
color:#4D4D4D;
font-weight:bold;
padding-bottom:10px;
}
#portal-column-one .portletNavigationTree .portletItem{
border-top:0px;
}
.portletItem strong{
font-size:14px;
font-family:Arial,Helvetica,sans-serif;
padding-top:5px;
display:block;
}
dd {/*base.css (line 110)*/
line-height:1.5em;
margin-bottom:1em;
}
.portletHeader {/*genweb-neutre3.cs... (line 172)*/
background-color:#E8E2DF;
color:#4D4D4D;
font-weight:bold;
padding:1px 5px;
}

.navTreeItem {
font-size:1.1em;}
.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {/*navtree.css (line 52)*/
background-color:transparent !important;
border: 0px !important;
color:#0077cc !important;
}
.navTreeItem a, dd.portletItem .navTreeItem a {/*navtree.css (line 44)*/
border:0px !important;
display:block;
padding:0.15em 0.1em 0.3em 0.1em;
text-decoration:none;
color:#0077cc;
}
.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {/*navtree.css (line 52)*/
background-color: none !important;
border:0px !important;
color:#0077cc;
}
.navTreeCurrentItem {/*navtree.css (line 58)*/
background-color:transparent !important;
border:0px solid white !important;
color:white;
}
.navTreeItem a:hover img, .navTreeItem a img:hover{text-decoration:none;}


.documentDescription {
color:#4d4d4d;
margin:0px;
padding: 0px;
}
p {
padding:0px;
margin:0px;
}

#portal-column-one {/*columns.css (line 13)*/
float:left;
padding:0pt;
width:200px;
}
#portal-column-content.sl {/*columns.css (line 23)*/
margin-left:227px;
}







/*************************** VISTA SUMAMRY STaNDARD ******************************/
.summary {
	background: url(quadret.gif) no-repeat left 0px;
	padding: 0px 0px 0px 10px;}


/*************************** ICONES DOCUMENT ACTIONS ******************************/
.documentActions {
	border-top:0px solid #8CACBB;
	float:right;
	width:200px;
	margin-top:0px;
	height:25px;
	background: url(fonsIconesAccions.gif) no-repeat bottom right;}
.documentActions ul {
	margin:0pt;
	padding:0pt;}
.documentActions li {
	background-color:White;
	display:inline;
	font-size:85%;
	margin:0pt;
	padding:0pt 0pt 0pt 1em;}




/**************************************************************************** PRODUCTES **********************************************************************************/
.field {
clear:both;
left:0;
margin:0px !important;
top:0;
font-size:90%;
}
form[id="edit_form"] div.field {
font-size:95%;
padding-top:10px;
}
form[id="edit_form"] div.field div.field {
padding-top:0px;
}
#question,#subject {
font-size:95%;
}
.comment{
	background:transparent none repeat scroll 0 0;
	border:1px solid #e0cece;/*espe5*/
	margin-bottom:1em;
	padding:0.5em;
}
.commentBody {
margin:0px 0px 1em 0px;
font-size:95%;
color:#4d4d4d;
}
.comment h3{
border-bottom:1px dashed #dfe3d3; /*espe4*/
font-weight:bold;
color:#4d4d4d;
margin-top:0px;
}
.comment h3 a {
background-image:url(comment.gif);
background-repeat:no-repeat;
height:auto;
line-height:1.6em;
margin-bottom:1px;
margin-left:-1px;
min-height:1.6em;
padding-left:18px;
}

.boardCommentDetails {
background-color:transparent !important;
border-color:#8CACBB !important;
border-style:none !important;
border-width:1px !important;
font-size:85% !important;
color:#999999 !important;
padding:0.5em 0em !important;
}
.commentPortrait .portraitPhoto {
height:80px !important;
width:60px !important;
padding:3px !important;
border:1px solid #E6E6E6 !important;
background:white;
}
.commentPortrait {
margin:0px !important;
position:relative;
top:-15px;
}
.boardComment {
border:0px !important;
margin:2em 0px !important;
position:relative !important;
}
.boardCommentContent {
min-height:82px;
}
.boardCommentBody {
padding:0.5em 1em;
border:1px solid #e6e6e6;
border-bottom:0px;
}
.boardCommentHeaderTitleBlock{
padding-left:0px !important;
margin-left:0px !important;
}
.boardCommentReplyActions {
padding:1em;
right:1em;
text-align:right;
border:1px solid #e6e6e6;
border-top:0px;
background:transparent url(fonsT.png) repeat-x scroll center bottom;
}
.boardConversation .visualClear {
margin-bottom:0px !important;
}
.link-parent {
padding-left: 16px !important;
background: transparent url(arrowUp.gif) no-repeat left 3px  !important;
}
.boardCommentReplyActions,.boardCommentActions{
padding-top:25px !important;
}
.template-board_view .listing .discreet, .template-forum_view .listing .discreet{
display:inline;
}
.commentAttachments {margin:0 !important;}
.commentAttachments ul li {	padding:3px 3px 3px 20px;background: transparent url(attach.png) no-repeat 0px 0px;}
.boardConversation .topLevelComment li {list-style-image:none !important;list-style-type:none !important;}
.boardConversation ul li ul {margin-left:1em !important;}
.boardConversation blockquote {border-left-width: 10px !important; border-bottom:0!important; margin-top:0!important; margin-bottom:0!important;}
.commentAttachments .visualNoMarker {margin:0 !important;}
.forumTitleCell{
font-weight: bold;
}
.poweredBy{
visibility:hidden;
}
.template-board_view .documentDescription, .template-forum_view .documentDescription{
margin-top:20px;
}
.template-board_view .visualClear, .template-forum_view .visualClear{
margin-top:20px;
}
.template-board_view .listing, .template-forum_view .listing {
margin:0px 0px 0px 0px;
font-size:1em;
}
.template-conversation_view .documentContent {position:relative;}
.discussion {
padding-top:1em;
border-top:1px dashed #e6e6e6;
margin-top:1em;
clear:both;
}
table.listing .listingCheckbox {
text-align:left !important;
}
.template-board_view .listing th {
background:#dfe3d3 !important; /*espe*/
font-size:1em;
font-weight:bold;
color:#4d4d4d;
}
.template-forum_view .listing th {
background:#e0cece !important; /*espe5*/
font-size:1em;
font-weight:bold;
color:#4d4d4d;
}
.template-board_view .even {
/*background-color: #e8e2df;*/
}
.template-forum_view .documentFirstHeading img,.template-board_view .documentFirstHeading img, .template-board_view_global .documentFirstHeading img {
	visibility:hidden;
	width:0px !important;
}
/*.template-forum_view .documentFirstHeading, .template-board_view .documentFirstHeading, .template-board_view_global .documentFirstHeading {
	margin-left:-8px !important;
}*/
.template-board_view_global	.forumTitleCell a span, .template-board_view_global .forumMostRecentCell span {display:block !important; float:left !important;margin-bottom:3px !important;}
.template-board_view_global .listing thead, .template-board_view_global .listing tbody, .template-board_view_global table.listing, .template-board_view_global .listing td, .template-board_view_global .listing th, .template-board_view_global .listing tr {border:0px; font-size:1em;}
.template-board_view_global .listing th {font-weight:bold; font-size:1em !important; color:#666;background:transparent;border-bottom:1px solid #e6e6e6 !important;}
.template-board_view_global table.listing {border-bottom: 3px solid #e6e6e6;padding-top:0px;}
.template-board_view #content ul.visualNoMarker, #issue-quicksearch-box {
clear:right;
padding: 5px 5px 1px 5px;
border:1px solid #e6e6e6;
background:transparent url(fonsT.png) repeat-x scroll center bottom !important;
}
.matrixTable {font-size:110% !important;}
#content a[href^="mailto:"], #content a.link-mailto {
background:transparent url(mail_icon.gif) no-repeat scroll 0 0;
padding:1px 0 1px 16px;
}

#parent-fieldname-eventUrl, .link-presentation{
	padding-left:15px !important;
	background: transparent url(arrowRight.gif) no-repeat 0px 2px !important;
}
.template-event_view .vevent .summary {
	color:#cc0000 !important;
	background:none !important;
	padding:0px !important;}

.newsImage {
border:1px solid #e6e6e6;
padding:5px;
background:#f9f9f9 url(fonsTG.png) repeat-x scroll center bottom !important;
}
.newsImageContainer {
float:right;
margin:0 0 0.5em 1em;
clear:both;
background: #fff;
padding: 0 0 10px 10px;
}
.kssattr-atfieldname-imageCaption {
text-align:center;
font-size:90%;
}
.template-plonepopoll_view form.group .documentDescription{padding-top:25px; font-size:1.2em;}
.template-plonepopoll_view form.group fieldset{margin-top:0px !important;}
.template-plonepopoll_view form.group fieldset ul {margin-left:0px;}
.template-plonepopoll_view form.group fieldset ul li{font-weight:bold; color:#666666;list-style-image:none;list-style-type:none;margin:0px;}
.template-plonepopoll_view form.group fieldset ul li div{padding:5px; border:1px dotted #e6e6e6; font-weight:normal !important;margin-bottom:10px;}

.expandable-section ul li {list-style:none !important; list-style-image:none !important; list-style-type:none !important; padding-right:20px !important;}
.expandable-section div.field {font-size:110%}
.expandable-section ul { margin-left:0em !important;}
/*
.collage-header {background:#f9f9f9 url(fonsTG.png) repeat-x scroll center bottom !important;}

.collage-header span {
color:#0077cc !important;
margin-right:15px !important;}

.expandable-section .expandable-label {
float:left;
margin-top:15px;
line-height:14px;
position:absolute;
}
.copy-object-icon, .paste-object-icon, .split-column-icon {
background:transparent url(icon-split.gif) no-repeat scroll left top;
float:left;
height:14px;
padding-right:3px;
width:14px;
margin-top:15px;
}
.copy-object, .paste-object, .column-split {
margin-top:15px;
}
expandable-section .expandable-label .expandable-icon {
background:transparent url(icon-plusminus.gif) no-repeat scroll left top;
float:left;
height:14px;
margin-top:15px;
width:14px;
}
.expandable-section{margin-left:0px !important;padding-left:0px !important;}

#collage.edit .one-column .block_1 {
width:99% !important;
}
#collage.edit .column-block {
margin:2px !important;
}
#collage.edit .collage-item {
margin:2px !important;
}
#collage .collage-row .block_1 div.collage-item {
margin-right:0.2em !important;
}
.expandable-content .discreet{border-bottom:2px dotted #e6e6e6 !important; padding:3px !important; margin-bottom:5px !important;}
form.collage-existing-items div label {font-size:100% !important;}
form.collage-existing-items div {margin-bottom:5px !important;}
form.collage-existing-items div select {font-size:120% !important;}
*/



.icoRSS{
	float:right;
	font-size:10px;
	font-weight:normal;}
.titolPortlet .icoRSS{
	margin-top:-1px;
	_margin-top:2px;
}
.icoRSS img{
	vertical-align:text-top;
	padding-top:1px;}
/*formulari plone*/
.pfg-form .field {padding:10px 0px 0px 0px;}
.pfg-form  {padding-top:15px;}

/*calendar system*/
.calendar table {
	background:yellow none repeat scroll 0;
	border-color:#e6e6e6 !important;
	border-style:solid;
	border-width:1px !important;
	color:windowtext !important;
	cursor:default;
	font-family:verdana, arial,sans-serif !important;
	font-size:11px;
}
.calendar table thead{
	background:#f9f9f9 url(fonsTG.png) repeat-x scroll center bottom !important;}
.calendar {
background:transparent none repeat scroll 0 !important;
border-color:#e6e6e6;
border-style:solid;
border-width:0px !important;
color:#333333 !important;
cursor:default;
display:none;
font-family:verdana, arial,sans-serif !important;
font-size:11px;
position:relative;
}
.calendar thead .daynames {
background: #f1f1f1 !important;
}
.calendar tbody .day {
padding:2px 4px 2px 2px;
text-align:right;
width:2em;
background-color:transparent !important;
}
.calendar .button {
background:transparent none repeat scroll 0 !important;
border-color:buttonhighlight buttonshadow buttonshadow buttonhighlight;
border-style:solid;
border-width:0px !important;
padding:1px;}

.calendar thead .title {
background:transparent !important;
border:0px solid #000000 !important;
color: #666 !important;
font-size:10px !important;
font-weight:bold;
padding:1px;
text-align:center;
}
.calendar table .wn {
background:#f9f9f9 none repeat scroll 0 !important;
border-right:1px solid #e6e6e6 !important;
color:buttontext;
padding:2px 3px 2px 2px;
}
.calendar thead .name {
background:transparent none repeat scroll 0 !important;
border-bottom:0px solid buttonshadow !important;
color:buttontext;
padding:2px;
text-align:center;
}
.calendar thead .weekend {
color:#CC0000 !important;
}
.calendar tfoot .ttip {
background:#e6e6e6 none repeat scroll 0 !important;
border-color:buttonshadow buttonhighlight buttonhighlight buttonshadow;
border-style:solid;
border-width:0px !important;
color:#666 !important;
padding:1px;
text-align:center;
font-size:10px !important;
}

.calendar tbody td.selected {
background:#99DEF6 !important;
border-color:#0077cc;
border-style:solid;
border-width:0px !important;
color:#07c !important;
font-weight:bold;
padding:2px 2px 0;
}
.calendar tbody td.today {
border-color:#0077cc !important;
border-style:solid !important;
border-width:1px !important;
color:#666 !important;
font-weight:bold;
}
.calendar tbody .rowhilite td {
    background:#FFF !important; color:#333 !important;
} 
/*index continguts automatic plone*/
#document-toc .portletHeader {
	border-top:5px solid #E6E6E6;
	color:#4D4D4D;
	font-weight:bold;
	margin-left:0;
	padding:10px 0px;;
	background: transparent;
	font-family:Arial,Helvetica,Verdana,sans-serif;
	font-size:14px;}

#document-toc .portletItem{ 
background:#F7F7F7 url(fonsTG.gif) repeat-x scroll center bottom;
border-color:#CCCCCC #E6E6E6 #E6E6E6;
border-style:solid;
border-width:2px 1px 1px;
margin:0px 0 15px;
padding:10px 0 5px 1px;
font-weight: normal;}

#document-toc .portletItem li{ 
list-style-image:url(fletxa.gif);
list-style-position:outside;
list-style-type:disc;
margin:0 0 0 5px;
padding:0 0 8px;}

/*related items*/
#relatedItemBox ul{
background:#F7F7F7 url(fonsTG.gif) repeat-x scroll center bottom;
border-color:#CCCCCC #E6E6E6 #E6E6E6;
border-style:solid;
border-width:2px 1px 1px;
margin:0px 0 15px;
padding:10px 0 5px 1px;
font-weight: normal;}

#relatedItemBox {
background:transparent;
border:0px solid #E6E6E6;
margin:0;
padding:0px;
width:auto;}

#relatedItemBox legend{
	color:#4D4D4D;
	font-weight:bold;
	margin-left:0;
	padding:0px 0px 10px 0px;;
	background: transparent;
	font-family:Arial,Helvetica,Verdana,sans-serif;
	font-size:14px;
	width:100%;
	*display:inline;}
#clear-space-before-relatedItemBox{
	border-bottom:5px solid #E6E6E6;
	margin-top: 25px;
}


#relatedItemBox ul li{
list-style-image:url(quadret.gif);
list-style-position:outside;
list-style-type:disc;
margin:0 0 0 23px;
padding:0 0 10px;
line-height:1.5em;
}

#relatedItemBox ul li img{
float:right;
visibility:hidden;
}

/*plantilla document imatge*/
.discreet img {
	border: 1px solid #e6e6e6;
	padding: 3px;
	background:white;
	margin-bottom: 10px;
}
.template-board_view .discreet img, .template-forum_view .discreet img{
	border: 0px solid #e6e6e6;
	padding: 0px;
	background:transparent;
	margin-bottom: 0px;
}
.visualNoPrint img {
	border:0px;
	padding: 0px;
	margin-bottom:0px;}

/*navegacio per pagines*/
.listingNext {
	background:transparent url(fletxaD.gif) no-repeat scroll right bottom;
	padding-right:20px;
	float:right;}
.listingNext img, .listingPrevious img {visibility:hidden; width:0;}
.listingPrevious{
	background:transparent url(fletxaE.gif) no-repeat scroll left bottom;
	padding-left:20px;
	float:left;}

/*h2 pre en fitxers*/
.template-file_view #content div pre {
margin: -0.2em 0em 1em 0em !important;}
/*formulari*/
#archetypes-fieldname-formEpilogue, #archetypes-fieldname-formPrologue {
	border-top:5px solid #E6E6E6;
	margin-top:25px;}
 #archetypes-fieldname-formPrologue{padding-bottom:25px;}

/*error per falta de titol en formularis*/
div.error {background: #fcf4f2 url(fonsError.gif) no-repeat top right !important;}

/* notify hover per a pestanyes obligatories*/
li.formTab a.notify:hover {
	background-color:#fcf4f2;
	color:#dd0000;}
li.formTab a.notify {
	color:#0077cc;
	background-color:#fcf4f2;}
.notify, .documentEditable * .notify {
	border:1px solid #e6e6e6 !important;}

/*manage de portlets*/
.managedPortletActions .delete {float:right; color:#dd0000;}
.managedPortletActions .up, .managedPortletActions .down {float:left;}
.managedPortlet .portletHeader {padding:5px 3px;margin:1px 0px;}
.kssattr-viewname-manage-portlets {border: 1px solid #e6e6e6; padding:3px; border-top:5px solid #e6e6e6;}

.managePortletsLink{
	Background: #f9f9f9;
	padding:3px;
	border: 1px solid #e6e6e6;}

/*********************************************** preparaci del S5 de presentacions **************************************/
/*aixo es xungo i faig el q puc*/
div#header {
background-color:#0077cc !important;
border-bottom:5px solid #333333 !important;
color:White !important;
line-height:1px;
}


/*********************************************** issue tracker **************************************/
.issue-quick-search-box {
float:left;
padding:0 1em 1em 0;
margin: 0 2.25em 0 0;
width:30%;
}
#open-issues-by-state {
padding:0 0em 1em 0;
margin: 0;
}
a.datagridwidget-add-button, a.datagridwidget-add-button:hover {

cursor:pointer;
float:right;
font-size:85%;
padding:1px 1px 1px 15px;
text-decoration:none;
text-transform:lowercase;
    background:url(botoFonsClar.gif) repeat-x center center !important;
    border:1px solid #8dcde3 !important;
    color:#333 !important;
    font-size:90% !important;
    padding:0px 3px 2px 3px !important;
    font-weight:bold !important;
    *border:0px !important;
    *padding:2px 2px 2px 2px !important;}
#archetypes-fieldname-defaultSeverity, 
#archetypes-fieldname-availableReleases, 
#archetypes-fieldname-availableAreas, 
#archetypes-fieldname-description, 
#archetypes-fieldname-helpText,
#archetypes-fieldname-managers,
#archetypes-fieldname-mailingList,
#archetypes-fieldname-svnUrl,
#archetypes-fieldname-sendNotificationEmails,
#archetypes-fieldname-creators { padding-top:10px;}

/*colleccio*/
select#customViewFields_options, select#customViewFields, select#atendees_unselected, select#atendees_selected, select#subject_existing_keywords {min-width:300px !important; _width:300px !important;}

/**********survey************/
#archetypes-fieldname-formPrologue {margin-top:20px !important;}
body.template-atct_edit #archetypes-fieldname-imageCaption {text-align:left;}
#archetypes-fieldname-atendees,
#archetypes-fieldname-agenda,
#archetypes-fieldname-acta,
#archetypes-fieldname-image,
#archetypes-fieldname-imageCaption,
#archetypes-fieldname-submitLabel,
#archetypes-fieldname-resetLabel,
#archetypes-fieldname-actionAdapter,
#archetypes-fieldname-thanksPage,
#archetypes-fieldname-formActionOverride,
#archetypes-fieldname-onDisplayOverride,
#archetypes-fieldname-afterValidationOverride,
#archetypes-fieldname-headerInjection,
#archetypes-fieldname-question,
#archetypes-fieldname-choices,
#archetypes-fieldname-categories,
#archetypes-fieldname-category,
#archetypes-fieldname-number_of_choices,
#archetypes-fieldname-visible,
#archetypes-fieldname-attendees,
#archetypes-fieldname-eventType,
#archetypes-fieldname-contactName,
#archetypes-fieldname-startDate,
#archetypes-fieldname-endDate,
#archetypes-fieldname-startby,
#archetypes-fieldname-endby,
#archetypes-fieldname-priority,
#archetypes-fieldname-percentCompleted,
#archetypes-fieldname-taskOwner,
#archetypes-fieldname-text,
#archetypes-fieldname-thankYouMessage,
#archetypes-fieldname-savedMessage,
#archetypes-fieldname-savedMessage,
#archetypes-fieldname-exitUrl,
#archetypes-fieldname-confidential,
#archetypes-fieldname-location,
#archetypes-fieldname-surveyNotificationEmail,
#archetypes-fieldname-surveyNotificationMethod,
#archetypes-fieldname-language,
#archetypes-fieldname-expirationDate,
#archetypes-fieldname-contributors,
#archetypes-fieldname-rights,
#archetypes-fieldname-excludeFromNav	{padding-top:10px;}
body.template-survey_view h2.questionTitle label {color:#4d4d4d !important;}
body.template-survey_overview form {margin-right:10px !important;}
body.template-survey_view .even {background:white;}

td input + br  + input {margin-top:5px !important;}
#archetypes-fieldname-agenda, #archetypes-fieldname-acta {font-size:100%;}



/*** reunio ***/
body.template-base_view div#archetypes-fieldname-acta, body.template-base_view div#archetypes-fieldname-agenda {
	border-top:5px solid #E6E6E6;
	margin-top:20px;}
body.template-base_view div#archetypes-fieldname-acta label.formQuestion span, body.template-base_view div#archetypes-fieldname-agenda label.formQuestion span{
	color:#4D4D4D;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
	width:729px;}
body.template-base_view div#archetypes-fieldname-acta label.formQuestion, body.template-base_view div#archetypes-fieldname-agenda label.formQuestion  {color:white;}
body.template-base_view div#archetypes-fieldname-acta div#parent-fieldname-acta, body.template-base_view div#archetypes-fieldname-agenda div#parent-fieldname-agenda  {margin-top:10px; border:0px; margin-bottom:20px; }
body.template-base_view div#archetypes-fieldname-acta div#parent-fieldname-acta:hover, body.template-base_view div#archetypes-fieldname-agenda div#parent-fieldname-agenda:hover  {margin-top:10px; border:0px; margin-bottom:20px; }
form#kss-inlineform-agenda div#archetypes-fieldname-agenda, form#kss-inlineform-agenda div.formControls, form#kss-inlineform-acta div#archetypes-fieldname-acta, form#kss-inlineform-acta div.formControls {font-size:112% !important; border-top:0px !important;}
body.template-base_view div#archetypes-fieldname-atendees {padding-bottom:25px;}
#parent-fieldname-agenda {font-size:110%;}

/*enquesta a la home*/
.columnaDreta fieldset {margin:0px!important; padding:5px;background:none;border:0px;border-bottom:1px dashed #999;}
.columnaDreta form, .columnaDreta h5 {margin:0px; padding:0px !important;border:0px !important;}
.columnaDreta form .context {float:right;margin-top:10px;}
.columnaDreta .portletItem {border:0px;}
.columnaDreta .portletItem {margin:0px!important; padding:0px;display:inline;}
.columnaDreta .portletFooter {display:none;}
.columnaDreta .caixaPortlet {margin-left:0px!important;}
.columnaDreta fieldset legend {display:none; font-size:100%;padding:0px !important;}
.columnaDreta fieldset li {font-size:0.9em;}
.columnaDreta fieldset strong {font-weight:normal; font-size:1.1em;}
.columnaDreta form span {font-weight:0.9em!important;font-weight:normal;}
.columnaDreta input {margin-bottom:0px!important;}
.columnaDreta label {vertical-align:bottom;}
/*.columnaDreta form div {padding-bottom:5px;margin-bottom:5px; border-bottom:1px dashed #999;}*/

/*formulari thanks page*/
.template-fg_thankspage_view blockquote {border:1px solid #e6e6e6; border-left:15px solid #e6e6e6;padding:10px;margin:10px 0;}